@model ServiceFormVM

@section Header{
	Services
}


<div class="col-md-12">
<div class="card card-primary">
	<div class="card-header">
		<h3 class="card-title">Create</h3>
	</div>

										@* by default : enctype ="application/x-www-form-urlencoded"  => هاد ما بقبل الملفات*@
	<form asp-controller="Services" asp-action="Create" enctype="multipart/form-data">
		<div class="card-body">
			<div class="form-group">
				<label asp-for="Name">Name</label>
				<input asp-for="Name" class="form-control" placeholder="Enter Service Name" >
			</div>
			<div class="form-group">
				<label asp-for="Description">Description</label>
				<input asp-for="Description" class="form-control" placeholder="Enter Service Description">
			</div>

			<div class="form-group">
				<label asp-for="Image">Description</label> <!-- هون اقدر اضيف صور ServiceFormVM تم اضافته عشان في -->
				<input asp-for="Image" class="form-control-file" />
			</div>
		</div>

		<div class="card-footer">
			<button type="submit" class="btn btn-primary" fdprocessedid="pvthkg">Create</button>
		</div>
	</form>
</div>
</div>